<h1>{{message}}</h1>
<div style="text-align: center">
<iframe height="540" width="720" src="http://static.arcadespot.com/embed/mario-kart-64/" border="0" frameborder="0" scrolling="no"></iframe>
</div>
<h2 style="text-align: center">Awe... {{error.status}} error... take first to submit a help request!</h2>
<pre>{{error.stack}}</pre>
