

  <div id="fullpage">

    <div class="section" id="section1" data-anchor="firstPage">
    	<h1>BananaPhone</h1>
    		<p>The future of technology.</p>

            {{user.user_name}}
    	<div class="oneImg">
    		<img src="assets/img/bigPhoneHalf.png">
    	</div>
    </div>
		
    <div class="section" id="section2" data-anchor="secondPage">

    	<div class="row">
	    	<div class="col-md-4">
	    		<div class="feat">
	    			<h2>FEATURED</h2>
	    			<img class="featImg" src="assets/img/BANANABOOK.png" height="200">
	    			<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
	    			<h4>Category: Technology</h4>
	    		</div>
	    	</div>
    		<div class="col-md-4">
    			<div class="feat">
    				<h2>FEATURED</h2>
    				<img class="featImg" src="assets/img/BananaComp1.png" height="200">
    				<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
    				<h4>Category: Technology</h4>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
    			<div class="feat">
    				<h2>FEATURED</h2>
    				<img class="featImg" src="assets/img/bananaWatch.png" height="200">
    				<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
    				<h4>Category: Technology</h4>
	    		</div>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-4">
	    		<div class="feat">
	    			<h2>FEATURED</h2>
	    			<img class="featImg" src="assets/img/BananaTV.png" height="200">
	    			<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
	    			<h4>Category: Technology</h4>
	    		</div>
	    	</div>
    		<div class="col-md-4">
    			<div class="feat">
    				<h2>FEATURED</h2>
    				<img class="featImg" src="assets/img/bananaWatch.png" height="200">
    				<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
    				<h4>Category: Technology</h4>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
    			<div class="feat">
    				<h2>FEATURED</h2>
    				<img class="featImg" src="assets/img/BANANABOOK.png" height="200">
    				<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit?</p>
    				<h4>Category: Technology</h4>
	    		</div>
	    	</div>
	    </div>

    </div>

    <div class="section" id="section3" data-anchor="thirdPage">
			
			<div class="col-md-4">
    		<div class="analyticsThree">
    			<h2>Banana Phones are sold in # countries</h2>
    				<span class="numCount">50</span>
    		</div>
    		</div>
			
			<div class="col-md-4">
    		<div class="analyticsThree">
    			<h2>Banana Phones sold</h2>
    				<span class="numCount">50</span>
    		</div>
    		</div>

			<div class="col-md-4">
    		<div class="analyticsThree">
    			<h2>Banana Phones made</h2>
    				<span class="numCount">50</span>
    		</div>
    		</div>
    			
    </div>

    <div class="section" id="section4" data-anchor="fourthPage">
    	<h1>THE TEAM</h1>
    		<div class="col-md-3">
    			<h2>Jacob</h2>
    			<a href="https://github.com/JacobAlli">
            		<img class="img-circle" src="https://avatars0.githubusercontent.com/u/29315636?s=460&v=4" height="190">
            	</a>
            	<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. 
</p>
            </div>

    		<div class="col-md-3">
    			<h2>Renee</h2>
    				<a href="https://github.com/rernst322">
            			<img class="img-circle" src="https://avatars0.githubusercontent.com/u/29467669?s=460&v=4" height="190">
            		</a>
            		<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
            </div>

    		<div class="col-md-3">
    			<h2>Ben</h2>
    				<a href="https://github.com/BenNewell32">
            			<img class="img-circle" src="https://avatars1.githubusercontent.com/u/23373268?s=460&v=4" height="190">
            		</a>
            		<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            </div>

    		<div class="col-md-3">
    			<h2>Noah</h2>
    				<a href="https://github.com/nvnoahherron">
            			<img class="img-circle" src="https://avatars3.githubusercontent.com/u/29608787?s=400&v=4" height="190">
            		</a>
            		<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
    		</div>
    </div>
    		
    	</div>
    

  </div>
